@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="card">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/LPzQPY1l7Ys"
                    title="YouTube video"
                    style="border-radius:4px"
                    allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>