<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Partify.Web</title>
    <link rel="stylesheet" href="~/lib/mdb5/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Partify.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <h4 class="text-center text-white mb-4">Partify</h4>
        <a class="active" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i>Home</a>
        <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-users"></i> User</a>
        <ul class="collapse list-unstyled" id="userSubmenu">
            <li>
                <a asp-controller="Users" asp-action="Index" class="pl-4" style="margin-left:30px">Users</a>
            </li>
            <li>
                <a asp-controller="UserRoles" asp-action="Index" class="pl-4" style="margin-left:30px">User Roles</a>
            </li>
            <li>
                <a asp-controller="Permissions" asp-action="Index" class="pl-4" style="margin-left:30px">Permissions</a>
            </li>
            <li>
                <a asp-controller="UserRolePermissions" asp-action="Index" class="pl-4" style="margin-left:30px">User Role Permissions</a>
            </li>
        </ul>
        <a asp-controller="Users" asp-action="Index"><i class="fas fa-tachometer-alt"></i> User Role</a>
        <a asp-controller="Users" asp-action="Index"><i class="fas fa-th-large"></i> Permission</a>
        <a asp-controller="Users" asp-action="Index"><i class="fas fa-box"></i> Role Permission</a>
        <a asp-controller="Users" asp-action="Index"><i class="fas fa-users"></i> Customers</a>
    </div>
    <div class="content container justify-content-center" id="main-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/mdb5/js/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    .sidebar {
        height: 100vh;
        width: 250px;
        position: fixed;
        background-color: #343a40;
        padding-top: 20px;
    }

        .sidebar a {
            color: white;
            text-decoration: none;
            padding: 10px;
            display: block;
            margin: 5px 0;
        }

            .sidebar a:hover, .sidebar a.active {
                background-color: #007bff;
            }

            .sidebar a i {
                margin-right: 10px;
            }

    .content {
        margin-left: 250px;
        padding: 20px;
    }
</style>

<script>
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        const content = document.getElementById('main-content');
        sidebar.classList.toggle('open');
        content.classList.toggle('shifted');
    }

    $(document).ready(function () {
        $('[data-toggle="collapse"]').on('click', function () {
            var $el = $(this);
            var $target = $($el.attr('href'));
            $target.collapse('toggle');
            return false;
        });
    });
</script>