@using Partify.Web.Models.UserRolePermissions

@model UserRolePermissionCreateModel

@{
    ViewData["Title"] = "Create User Role Permission";
}

<h2>Create User Role Permission</h2>

<form asp-controller="Permissions" method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="UserRoleId" class="control-label">User Role</label>
        <select asp-for="UserRoleId" class="form-control" asp-items="@(new SelectList(ViewBag.UserRoles, "Id", "Name"))"></select>
    </div>
    <div class="form-group">
        <label asp-for="PermissionId" class="control-label">Permission Controller</label>
        <select asp-for="PermissionId" class="form-control" asp-items="@(new SelectList(ViewBag.Permissions, "Id", "Controller"))"></select>
    </div>
    <div class="form-group">
        <label asp-for="PermissionId" class="control-label">Permission Action</label>
        <select asp-for="PermissionId" class="form-control" asp-items="@(new SelectList(ViewBag.Permissions, "Id", "Action"))"></select>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success btn-block">CREATE</button>
    </div>
</form>

<div>
    <a asp-controller="UserRolePermissions" asp-action="Index">Back to List</a>
</div>
