@using Partify.Web.Models.AdCategories
@model IEnumerable<AdCategoryViewModel>

@{
    ViewData["Title"] = "Ad Categories";
}

<div class="container ml-8">

    <div class="mb-3">
        <a asp-controller="AdCategories" asp-action="Create" class="btn btn-success btn-rounded" data-mdb-ripple-init>Create</a>
    </div>

    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var adCategory in Model)
            {
                <tr>
                    <td>@adCategory.Id</td>
                    <td>@adCategory.Name</td>
                    <td>
                        <a asp-controller="AdCategories" asp-action="Edit" asp-route-id="@adCategory.Id" class="btn btn-info btn-rounded" data-mdb-ripple-init>Edit</a>
                        <a class="btn btn-danger btn-rounded" data-mdb-toggle="modal" data-mdb-target="#showDeletePage" data-id="@adCategory.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="showDeletePage" tabindex="-1" aria-labelledby="showDeletePage" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <a id="confirmDeleteBtn" asp-controller="AdCategories" asp-action="Delete" asp-route-id="" class="btn btn-danger" data-mdb-ripple-init>Confirm</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteLinks = document.querySelectorAll('a[data-mdb-toggle="modal"][data-mdb-target="#showDeletePage"]');
        var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

        deleteLinks.forEach(function (link) {
            link.addEventListener('click', function () {
                var reporterId = link.getAttribute('data-id');
                var confirmDeleteUrl = '/AdCategories/Delete/' + reporterId;
                confirmDeleteBtn.setAttribute('href', confirmDeleteUrl);
            });
        });
    });
</script>